beautifulsoup4==4.12.3
certifi==2024.12.14
charset-normalizer==3.4.1
DateTime==5.5
idna==3.10
numpy==2.2.2
pandas==2.2.3
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
setuptools==75.8.0
six==1.17.0
soupsieve==2.6
tzdata==2025.1
urllib3==2.3.0
zope.interface==7.2
